@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Condensed');

body {
  padding: 50px;
  background-color: #D3D3D3;
}

h1 {
  font-family: 'Rakkas', cursive;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
