@import '~bootstrap/scss/bootstrap';
$background: #d3d3d3;

body {
  background-color: $background;
  padding: 50px;
}

h1 {
  font-family: 'Rakkas', cursive;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.card-columns {
  display: inline-block;
}

.quote-name {
  text-align: right;
}

.quote {
  color: white;
  text-align: center;
}
